<div id="content_wrapper">
	  	 <div id="heading"><h1>Code for Cloud and Win!<br><span class="tagline">AppFog makes it possible with Cloud Foundry</span></div></h1>
  <div id="clouds_bg"><img src="img/clouds_bg.png"></div>
  <div id="clouds_blue"><img src="img/clouds_blue.png"></div>
  <div id="clouds_dark_blue"><img src="img/clouds_dark_blue.png"></div>
  <div id="clouds_white"><img src="img/clouds_white.png"></div>
  <div id="content"><img src="img/infographic.png">
  </div>
</div>
