<!doctype html>
<html>
  <head>
    <title><%= @appname %></title>
    <link href='http://fonts.googleapis.com/css?family=Open+Sans|Source+Sans+Pro|Pontano+Sans' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" type="text/css" href="css/site.css">
  </style>
</head>
<body>
  <%= yield %>
</body>
</html>
